<html>
  <head>
    <title>API Explorer</title>
    <link rel="stylesheet" type="text/css" href="/css/api.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.8.0/dist/alpine.js"
      defer
    ></script>
  </head>

  <header class="shadow header">
    <h1 class="flex text-gray">API Explorer</h1>
  </header>

  <div class="main">
    <div class="content">
      <div class="section-heading">
        <span class="text-size-med text-gray">issues</span>
        <span class="text-size-small">Manage issues</span>
      </div>
      <ul class="" x-data="{selected:null}">
        <li class="">
          <h4
            @click="selected !== 0 ? selected = 0 : selected = null"
            class="accordian bg-light-green shadow"
          >
            <div class="pill bg-green text-size-normal">
              Post
            </div>
            <div class="url">
              /issues/{project}
            </div>
            <div class="hint text-size-normal">
              Create an new issue
            </div>
          </h4>
          <div class="panel shadow" x-show="selected == 0">
            <div class="api-form">
              <div class="panel-heading">Request</div>
              <form
                id="issuePostForm"
                action="api/issues/apiexplorer"
                data-method="POST"
              >
                <div class="form-group">
                  <div class="field-group">
                    <div class="field-name">
                      <label
                        class="text-size-normal text-gray"
                        for="issue_title"
                        >title
                      </label>
                      <div class="required-field">* required</div>
                    </div>

                    <div class="field-description">string</div>
                  </div>
                  <input
                    type="text"
                    name="issue_title"
                    placeholder="issue title"
                    required="true"
                  />
                </div>

                <div class="form-group">
                  <div class="field-group">
                    <div class="field-name">
                      <label class="text-size-normal text-gray" for="issue_text"
                        >text
                      </label>
                      <div class="required-field">* required</div>
                    </div>

                    <div class="field-description">string</div>
                  </div>

                  <textarea
                    type="text"
                    name="issue_text"
                    placeholder="issue text"
                    required="true"
                  ></textarea>
                </div>

                <div class="form-group">
                  <div class="field-group">
                    <div class="field-name">
                      <label class="text-size-normal text-gray" for="created_by"
                        >created_by
                      </label>
                      <div class="required-field">* required</div>
                    </div>

                    <div class="field-description">string</div>
                  </div>
                  <input
                    type="text"
                    name="created_by"
                    placeholder="name of user who created the issue"
                    required="true"
                  />
                </div>

                <div class="form-group">
                  <div class="field-group">
                    <div class="field-name">
                      <label
                        class="text-size-normal text-gray"
                        for="assigned_to"
                        >assigned_to
                      </label>
                    </div>

                    <div class="field-description">string</div>
                  </div>
                  <input
                    type="text"
                    name="assigned_to"
                    placeholder="name of user who created the issue"
                    required="true"
                  />
                </div>

                <div class="form-group">
                  <div class="field-group">
                    <div class="field-name">
                      <label
                        class="text-size-normal text-gray"
                        for="status_text"
                        >status
                      </label>
                    </div>

                    <div class="field-description">string</div>
                  </div>
                  <input
                    type="text"
                    name="status_text"
                    placeholder="initial status of the issue"
                    required="true"
                  />
                </div>

                <br />

                <button
                  class="btn-primary text-size-normal"
                  type="submit"
                  class="btn-primary text-size-normal"
                  type="submit"
                  @click="
                $event.preventDefault()
                callAPI($event,'jsonResultPost',true )"
                >
                  Execute
                </button>
              </form>
            </div>
            <div class="api-results">
              <div class="panel-heading">Response</div>
              <div id="jsonResultPost" class="response-block">Ready...</div>
            </div>
          </div>
        </li>
        <li class="">
          <h4
            @click="selected !== 1 ? selected = 1 : selected = null"
            class="accordian bg-light-orange shadow"
          >
            <div class="pill bg-orange text-size-normal">
              Put
            </div>
            <div class="url">
              /issues/{project}/{issueId}
            </div>
            <div class="hint text-size-normal">
              Update an existing issue
            </div>
          </h4>
          <div class="panel shadow" x-show="selected == 1">
            <div class="api-form">
              <div class="panel-heading">Request</div>
              <form
                id="issuePutForm"
                class="border"
                action="api/issues/apiexplorer/"
                data-method="PUT"
              >
                <div class="form-group">
                  <div class="field-group">
                    <div class="field-name">
                      <label class="text-size-normal text-gray" for="id"
                        >id
                      </label>
                      <div class="required-field">* required</div>
                    </div>

                    <div class="field-description">integer</div>
                  </div>
                  <input
                    type="text"
                    name="id"
                    placeholder="id of the issue to be updated"
                    required="true"
                    data-ispath="true"
                  />
                </div>

                <div class="form-group">
                  <div class="field-group">
                    <div class="field-name">
                      <label class="text-size-normal text-gray" for="title"
                        >title
                      </label>
                      <div class="required-field">* required</div>
                    </div>

                    <div class="field-description">string</div>
                  </div>
                  <input
                    type="text"
                    name="issue_title"
                    placeholder="issue title"
                    required="true"
                  />
                </div>

                <div class="form-group">
                  <div class="field-group">
                    <div class="field-name">
                      <label class="text-size-normal text-gray" for="issue_text"
                        >text
                      </label>
                      <div class="required-field">* required</div>
                    </div>

                    <div class="field-description">string</div>
                  </div>

                  <textarea
                    type="text"
                    name="issue_text"
                    placeholder="issue text"
                    required="true"
                  ></textarea>
                </div>

                <div class="form-group">
                  <div class="field-group">
                    <div class="field-name">
                      <label class="text-size-normal text-gray" for="created_by"
                        >created_by
                      </label>
                      <div class="required-field">* required</div>
                    </div>

                    <div class="field-description">string</div>
                  </div>
                  <input
                    type="text"
                    name="created_by"
                    placeholder="name of user who created the issue"
                    required="true"
                  />
                </div>

                <div class="form-group">
                  <div class="field-group">
                    <div class="field-name">
                      <label
                        class="text-size-normal text-gray"
                        for="assigned_to"
                        >assigned_to
                      </label>
                    </div>

                    <div class="field-description">string</div>
                  </div>
                  <input
                    type="text"
                    name="assigned_to"
                    placeholder="name of user who created the issue"
                    required="true"
                  />
                </div>

                <div class="form-group">
                  <div class="field-group">
                    <div class="field-name">
                      <label
                        class="text-size-normal text-gray"
                        for="status_text"
                        >status
                      </label>
                    </div>

                    <div class="field-description">string</div>
                  </div>
                  <input
                    type="text"
                    name="status_text"
                    placeholder="initial status of the issue"
                    required="true"
                  />
                </div>

                <br />

                <button
                  class="btn-primary text-size-normal"
                  type="submit"
                  @click="
                $event.preventDefault()
                console.log('blah')
                callAPI($event,'jsonResultPut', true )"
                >
                  Execute
                </button>
              </form>
            </div>
            <div class="api-results">
              <div class="panel-heading">Response</div>
              <div id="jsonResultPut" class="response-block">Ready...</div>
            </div>
          </div>
        </li>
        <li>
          <h4
            @click="selected !== 2 ? selected = 2 : selected = null"
            class="accordian bg-light-blue shadow"
          >
            <div class="pill bg-blue text-size-normal">
              Get
            </div>
            <div class="url">
              /issues/{project}
            </div>
            <div class="hint text-size-normal">
              Get issues by project
            </div>
          </h4>
          <div class="panel shadow" x-show="selected == 2">
            <div class="api-form">
              <div class="panel-heading">Request</div>
              <form data-method="GET" action="api/issues/">
                <div class="form-group">
                  <div class="field-group">
                    <div class="field-name">
                      <label
                        class="text-size-normal text-gray"
                        for="project_name"
                        >project
                      </label>
                      <div class="required-field">* required</div>
                    </div>
                    <div class="field-description">string</div>
                  </div>
                  <input
                    type="text"
                    name="project_name"
                    placeholder="project name"
                    required="true"
                    data-ispath="true"
                  />
                </div>
                <br />

                <button
                  class="btn-primary text-size-normal"
                  type="submit"
                  @click="
                $event.preventDefault()
                console.log('blah')
                callAPI($event,'jsonResultGet' )"
                >
                  Execute
                </button>
              </form>
            </div>
            <div class="api-results">
              <div class="panel-heading">Response</div>
              <div id="jsonResultGet" class="response-block">Ready...</div>
            </div>
          </div>
        </li>
        <li>
          <h4
            @click="selected !== 3 ? selected = 3 : selected = null"
            class="accordian bg-light-red shadow"
          >
            <div class="pill bg-red text-size-normal">
              Delete
            </div>
            <div class="url">
              /issues/{project}/{issueId}
            </div>
            <div class="hint text-size-normal">
              Deletes an issue
            </div>
          </h4>
          <div class="panel shadow" x-show="selected == 3">
            <div class="api-form">
              <div class="panel-heading">Request</div>
              <form
                id="deleteForm"
                class="border"
                data-method="DELETE"
                action="api/issues/apiexplorer/"
              >
                <div class="form-group">
                  <div class="field-group">
                    <div class="field-name">
                      <label class="text-size-normal text-gray" for="id"
                        >id
                      </label>
                      <div class="required-field">* required</div>
                    </div>

                    <div class="field-description">integer</div>
                  </div>
                  <input
                    type="text"
                    name="id"
                    placeholder="id"
                    required="true"
                    data-ispath="true"
                  />
                </div>
                <br />

                <button
                  class="btn-primary text-size-normal"
                  type="submit"
                  @click="
                  $event.preventDefault()
                  console.log('blah')
                  callAPI($event,'jsonResultDelete' )"
                >
                  Execute
                </button>
              </form>
            </div>
            <div class="api-results">
              <div class="panel-heading">Response</div>
              <div
                id="jsonResultDelete"
                class="response-block"
                x-ref="delete-response"
              >
                Ready...
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script>
    const callAPI = async (event, display, hasBody) => {
      const form = event.target.form;
      const action = form.action;
      const method = form.dataset.method;
      const issue_id = form.elements[0].getAttribute("data-ispath")
        ? form.elements[0].value
        : "";

      const body = hasBody
        ? new URLSearchParams([...new FormData(form)])
        : null;

      try {
        const response = await fetch(`${action}${issue_id}`, {
          method: method,
          body: body,
        });

        console.log(response.status);
        if (response.status !== 200) {
          let errorText = "";

          switch (response.status) {
            case 404:
              errorText = "Resource not found. [404]";
              break;
            default:
              errorText = "Sorry unknown server error. [500]";
          }

          document.getElementById(display).innerText = errorText;
          return;
        }
        const data = await response.json();
        document.getElementById(display).innerText = JSON.stringify(
          data,
          "",
          2
        );
        console.log(data);
      } catch (error) {
        console.log("error", error);
      }
    };
  </script>
</html>
